.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-1);
  padding: 0.75rem;
  border: solid 1px var(--border-color);
  border-radius: var(--radius-sm);
  position: relative;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
