.container {
  background-color: var(--primary-1);
  border: solid 1px var(--border-color);
  border-radius: var(--radius-sm);
  position: relative;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

.header button {
  height: fit-content;
  margin-left: auto;
}
